body {
    font-family: sans-serif;
    background-color: limegreen;
    align-content: center;
}
#status { margin-top: 15px;  font-size:.5em}
#results { margin-top: 10px; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9; white-space: pre-wrap; font-family: monospace;}
#eval {font-weight: bold;}